@media only screen and (min-width: 700px) {
    .tab3__item {
        background-color: white;
        color: rgb(56, 56, 56);
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
        font-size: 18px;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: 0.8s;
        font-size: 15px;
        font-weight: 600;
        width: 31%;
        height: 90%; 
        margin: auto;
    }
}