:root{
    --is_mobile_at: 700px
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin-right: 0;
    width: 100%;
    background-color: #dbdbdb;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: calc(100% - 280px);
    font-family: "Lato", sans-serif;
    height: 48px;
    margin-left: 280px;
}

@media only screen and (max-width: 700px) {
    .footer{
        margin-left: 0;
        width: 100%;
    }
}

.footer__tablink {
    transition: 0.3s;
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    width: 15%;
    height: 48px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  
.footer__tablink__label {
    transition: 1s;
    opacity: 0;
    margin-left: 0px;
    display: none;
}

.footer__tablink:hover {
    background-color: #777;
}

.footer__tablink.active {
    width: 55%;
}

.active .footer__tablink__label{
    animation: visible_in 1300ms;
    margin-left:15px;
    display: block;
    opacity: 1;
}

.footer__tablink--1.active {
    background-color: var(--tab1_color);
}

.footer__tablink--2.active {
    background-color: var(--tab2_color);
}

.footer__tablink--3.active {
    background-color: var(--tab3_color);
}

.footer__tablink--4.active {
    background-color: var(--tab4_color);
}


@keyframes visible_in {
    0% { opacity: 0;}
    25% { opacity: 0;}
    100% { opacity: 1;}
  }:root{
    --tab1_color: tomato;
    --tab2_color: mediumseagreen;
    --tab3_color: cornflowerblue;
    --tab4_color: orange;
}

.tab--content {
    transition: 0.5s;
    color: white;
    display: block;
    text-align: center;
    
    width: 100%;
    left: 100%;
}

@media only screen and (max-width: 700px) {
    .tab--content{
      position: absolute;
      height: calc(100%);
    }

    .tab--content.active{
        left: 0%;
    }
}.tab1{
    background-color: var(--tab1_color);
}.tab2{
    background-color: var(--tab2_color);
}.tab3{
    background-color: var(--tab3_color);
}.tab4{
    background-color: var(--tab4_color);
}