@media only screen and (max-width: 700px) {
    .tab4__content {
        background-color: rgb(238, 238, 238);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .tab4__item {
        position: absolute;
        background-color: white;
        color: rgb(56, 56, 56);
        width: 90%;
        left: 5%;
        height: 22%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
        font-size: 18px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 0.8s;
        min-height: 22%;
        top: 1.5%;
        font-size: 15px;
        font-weight: 600;
    }

    .tab4__item.expanded{
        width: 100%;
        min-height: 100%;
        border-radius: 0px;
        left: 0%;
        top: 0% !important;
        z-index: 1 !important;
        
    }

    .tab4__item .tab4__item--content{
        display: none;
    }

    .tab4__item--content {
        width: 100%;
        height: 100%;
    }

    .tab4__item.expanded .tab4__item--content{
        display: flex;
    }

    .tab4__item .tab4__item--title {
        color: rgb(103, 103, 103);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .tab4__item.expanded .tab4__item--title {
        color: white;
        transition: inherit;
        display: none;
    }

    

    .tab4__back {
        position: absolute;
        top: -6px;
        left: -6px;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        color: rgb(76, 76, 76);
        display: flex;
        cursor: pointer;
        font-size: 25px;
        border: none;
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .tab4__back.visible{
        display: flex;
    }
}