<footer class=footer>
    <button class="footer__tablink footer__tablink--1"
        id="defaultOpen">
        <i class="far fa-newspaper"></i>
        <label class="footer__tablink__label">Ahora en la fortuna</label>
    </button>
    <button class="footer__tablink footer__tablink--2">
        <i class="fa fa-map"></i>
        <label class="footer__tablink__label">Explore la fortuna</label>
    </button>
    <button class="footer__tablink footer__tablink--3">
        <i class="fa fa-bus"></i>
        <label class="footer__tablink__label">Mi viaje</label>
    </button>
    <button class="footer__tablink footer__tablink--4">
        <i class="fas fa-info-circle"></i>
        <label class="footer__tablink__label">Podemos ayudarte</label>
    </button>
</footer>