.footer {
    position: absolute;
    bottom: 0;
    z-index: 10000;
    width: calc(100%);
    font-family: "Lato", sans-serif;
    height: 48px;
    margin-left: 0;
}

@media only screen and (max-width: 700px) {
    .footer{
        margin-left: 0;
        width: 100%;
    }

    .footer__tablink__label {
        font-size: 70%;
    }
}

.footer__tablink {
    transition: 0.3s;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    width: 15%;
    height: 48px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

[theme=color] .footer__tablink {
    background-color: #555;
    color: white;
}

[theme=light] .footer__tablink {
    background-color: white;
    color: rgb(145, 145, 145);
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    font-weight: 500;
}

[theme=light] .footer__tablink:not(:first-child) {
    border-left: rgba(187, 187, 187, 0.596) solid 1px;
}
  
.footer__tablink__label {
    transition: 1s;
    opacity: 0;
    margin: auto 0;
    margin-left: 0%;
    display: none;
}

[theme=color] .footer__tablink:hover {
    background-color: #777;
}

[theme=light] .footer__tablink:hover {
    background-color: rgb(250, 250, 250);
}

.footer__tablink.active {
    width: 40%;
}

.active .footer__tablink__label{
    animation: visible_in 1000ms;
    margin-left: 5%;
    display: block;
    opacity: 1;
}

[theme=color] .footer__tablink--1.active {
    background-color: var(--tab1_color);
}

[theme=light] .footer__tablink--1.active {
    color: var(--tab1_color);
    border-bottom-color: var(--tab1_control);
}

[theme=color] .footer__tablink--2.active {
    background-color: var(--tab2_color);
}

[theme=light] .footer__tablink--2.active {
    color: var(--tab2_color);
    border-bottom-color: var(--tab2_control);
}

[theme=color] .footer__tablink--3.active {
    background-color: var(--tab3_color);
}

[theme=light] .footer__tablink--3.active {
    color: var(--tab3_color);
    border-bottom-color: var(--tab3_control);
}

[theme=color] .footer__tablink--4.active {
    background-color: var(--tab4_color);
}

[theme=light] .footer__tablink--4.active {
    color: var(--tab4_color);
    border-bottom-color: var(--tab4_control);
}

[theme=color] .footer__tablink--5.active {
    background-color: var(--tab5_color);
}

[theme=light] .footer__tablink--5.active {
    color: var(--tab5_color);
    border-bottom-color: var(--tab5_control);
}


@keyframes visible_in {
    0% { opacity: 0; margin-left: 0; width: 0px;}
    10% { width: max-content;}
    25% { opacity: 0; margin-left: 0; width: auto;}
    75% { margin-left: 5%;}
    100% { opacity: 1 }
  }