@media only screen and (min-width: 700px) {
    .tab1__weather--overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: left 0.5s;
        background-color: white;
        color: gray;
        z-index: 20000;
    }

    .tab1__weather--overlay.visible {
        left: 0%;
    }
    
    .weather--container {
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .weather__back {
        position: absolute;
        top: 75px;
        left: -6px;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 0 50% 50% 0;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        color: rgb(76, 76, 76);
        display: flex;
        cursor: pointer;
        font-size: 25px;
        border: none;
        z-index: 1;
        display: flex;
    }
    .weather__back * {
        margin: auto;
    }

    .weather__title--container {
        display: flex;
        padding: 0 20px;
        height: 100px;
        background-color: tomato;
        flex-direction: column;
        justify-content: center;
    }

    .weather__title {
        margin: 0 auto;
        color: white;
    }

    .weather__datetime {
        margin: 0 auto;
        color: white;
        font-weight: 400;
    }

    .weather__info--container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        height: calc(96% - 100px);
        width: 96%;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
        background-color: rgb(248, 248, 248);
    }
    .weather__card {
        border-radius: 8px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
        height: calc(33% - 20px);
        width: calc(45% - 20px);
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}