[theme=color] .tab2 {
    background-color: var(--tab2_color);
}

[theme=light] .tab2 {
    background-color: white;
    color: var(--tab2_color);
}

/* Desktop css */

.map__container {
    height: calc(100vh - 48px);
    width: 100%;
}

.map {
    height: 100%;
}

/* Desktop css */

@media only screen and (min-width: 700px) {
    .tab2 {
        height: calc(100vh - 48px);
        overflow-y: hidden;
    }
    .tab2__content {
        height: calc(100vh - 48px);
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .overflow {
        height: calc(450px);
    }
    .tab2__mosaic--container {
        top: 0px;
        position: sticky;
        height: calc(100vh - 48px);
        width: 100%;
        display: flex;
    }
    .tab2__content--left {
        width: 38%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .tab2__content--right {
        width: 62%;
        height: calc(100vh - 48px);
        position: relative;
        overflow: hidden;
    }
    .tab2--button {
        z-index: 100;
        position: absolute;
        top: calc(calc(50vh - 24px) - calc(15vh / 2));
        left: calc(38% - calc(15vh / 2));
        background-color: var(--tab2_color);
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        font-size: 6vh;
        color: white;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.35s;
        cursor: pointer;
    }
    [theme=color] .tab2--button {
        background-color: white;
        color: var(--tab2_color);
    }
    [theme=light] .tab2--button {
        color: white;
        background-color: var(--tab2_color);
    }
    .tab2--button:focus {
        outline: none;
    }
    .tab2--icon {
        margin: auto;
    }
    .tab2__map--right {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .mosaic__item--right {
        transform: rotate(180deg);
        transform-origin: -50% 50%;
        transition: transform 0.3s;
        overflow: hidden;
    }
    .mosaic__item--right.active {
        transform: rotate(0deg);
        animation: mosaicAnimationRight 0.5s;
        z-index: 10;
    }
    @keyframes mosaicAnimationRight {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .tab2__map--left {
        position: absolute;
        height: 100%;
        width: 100%;
        color: black;
        background-color: aqua !important;
    }
    .mosaic__item--left {
        transform: rotate(-180deg);
        transform-origin: -50% 50%;
        transition: transform 0.5s;
        overflow: hidden;
        z-index: 5;
        background-color: white;
    }
    .mosaic__item--left.active {
        transform: rotate(0deg);
        animation: mosaicAnimationLeft 0.5s;
        z-index: 10;
    }
    .tab2 .overflow {
        height: 150px;
    }
    .tab2 .lds-dual-ring {
        display: none;
        position: absolute;
        top: calc(calc(50vh - 24px) - calc(15vh / 2));
        left: calc(38% - calc(15vh / 2));
        width: 15vh;
        height: 15vh;
        z-index: 99;
    }
    .tab2 .lds-dual-ring.visible {
        display: inline-flex;
    }
    .tab2 .lds-dual-ring:after {
        width: 100%;
        height: 100%;
        border: 6px solid var(--tab2_color);
        border-color: var(--tab2_color) transparent var(--tab2_color) transparent;
        margin: -6px;
    }
    @keyframes mosaicAnimationLeft {
        from {
            transform: rotate(-180deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    .tab2__left--container {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        overflow: auto;
    }
    .tab2__left--title {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(20px + 1.5vw);
        color: var(--tab2_color);
        background-color: white ;
    }
    .tab2__left--item {
        width: 83%;
        height: 60px;
        min-height: 60px;
        margin: 20px auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        transition: 0.5s;
        overflow: hidden;
    }
    .tab2__left--item.expanded {
        height: 300px;
        min-height: 300px;
    }
    .tab2__left--item:hover {}
    .tab2__left--item--header {
        display: flex;
        flex-direction: row;
        width: 100%;
        cursor: pointer;
        height: 60px;
        border-radius: 15px;
        overflow: hidden;
    }
    .tab2__left--item--checkbox--container {
        display: flex;
        width: 65px;
        height: 100%;
        background-color: white;
        margin-right: 2px;
    }
    .tab2__left--checkbox {
        margin: auto 12.5px;
        width: 37px;
        height: 37px;
        border: 1px solid var(--tab2_color);
        border-radius: 50%;
        background-color: var(--tab2_color);
        position: relative;
    }
    .tab2__left--checkbox label {
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 35px;
        left: 1px;
        position: absolute;
        top: 1px;
        width: 35px;
    }
    .tab2__left--checkbox label:after {
        border: 4px solid var(--tab2_color);
        border-top: none;
        border-right: none;
        content: "";
        height: 10px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 6px;
        transform: rotate(-50deg);
        width: 20px;
    }
    .tab2__left--checkbox input[type="checkbox"] {
        visibility: hidden;
    }
    .tab2__left--checkbox input[type="checkbox"]:checked+label {
        background-color: white;
        border-color: white;
    }
    .tab2__left--checkbox input[type="checkbox"]:checked+label:after {
        opacity: 1;
    }
    .tab2__left--item--title {
        margin: auto;
        color: var(--tab2_color);
        font-size: 25px;
        margin-left: 0;
    }

    .tab2__left--item--expand-icon {
        margin: auto;
        margin-top: 20px;
        color: var(--tab2_color);
        margin-right: 25px;
        height: 12px;
        width: 12px;
        border-bottom: 4px solid;
        border-left: 4px solid;
        /* border-radius: 6px 0; */
        color: var(--tab2_color);
        margin-right: 25px;
        transform: rotate(-45deg);
        transition: 0.5s;
    }

    .expanded .tab2__left--item--expand-icon {
        transform: rotate(135deg);
        margin-top: 25px;
    }

    .expanded .tab2__left--item--content{
        min-height: calc(100% - 60px);
        height: calc(100% - 60px);
    }

    .tab2>::-webkit-scrollbar-thumb {
        background: var(--tab2_color);
        border-radius: 5px;
    }
    .tab2__left__info--container {
        width: 100%;
        height: 100%;
        background-color: white;
        left: -100%;
        position: absolute;
        transition: left 0.5s;
        z-index: 50;
    }
    .tab2__left__info--container.visible {
        left: 0%;
    }
}

/* Mobile css */

@media only screen and (max-width: 700px) {
    .map__container {
        height: 100%;
        width: 100%;
    }
}