/* Mobile css */

@media only screen and (max-width: 700px) {
    .map{
        height: 100%;
        width: 100%;
    }

    .map-event-tooltip__link{
        text-align: center;
        font-size: 14px;
        text-decoration: none;
    }
}