.carousel{
    width: 100%;
    position: relative;
    
}


@media screen and (max-width: 900px){
    .carousel{
        height: 100%;
    }
}

.carousel__images-container{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    display: flex;
    flex-direction: row;
    transition: right 0.4s;
    overflow-x: visible;
    
}

.carousel__images-container__img{
    max-width: 100%;
    min-width: 100%;
    height: 200px;
}

.carousel__items-container{
    position: absolute;
    display: flex;
    bottom: 5%;
    font-size: 35px;
}
.carousel__item-weather{
    position: absolute;
    bottom: 0;
    background : rgba(255,99,71,0.6);
    width: 80px;
    color: white;
    height: 60px;
    border-radius: 20%;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    
    margin-left: 10px;

}
.carousel__item-weather i{
    font-size: 22px;
    margin-top: 16px;
    left:50px;
    position: absolute;
}
.carousel__item-weather a{
    position: absolute;
    font-size: 33px;
    margin-top: 10px;
    left: 0;
}
.carousel__items-icono{
    font-size: 50px;
}
.carousel__items--button{
    background : rgba(255,99,71,0.7);
    border: none;
    border-radius: 40%;
    margin-left: calc(100vw - 50px);
    color:white;
}


/*
.carousel__items-container__item.active{
    background-color: rgba(255, 255, 255, 0.8);
}*/