
<div class="carousel">
    <div class="carousel__images-container">
        <img class="carousel__images-container__img" for="image of images"
        src={image}>
        <div>Clima</div>
    </div>
    
    <div class="carousel__items-container">
        <button id="changeImage" class="carousel__items--button">
        <i class="material-icons">chevron_right</i></button>
        <div class="carousel__item-weather"><i class='fas fa-temperature-high'></i><a style="margin-left:8px;">35</a></div>
    </div>
</div>
