.carousel{
    position: relative;
    width: 100%;
    height: 75vh;
}

@media screen and (max-width: 700px){
    .carousel{
        height: 35%;
    }
}

.carousel__images-container{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    display: flex;
    flex-direction: row;
    transition: right 0.4s;
    overflow-x: visible;
}

.carousel__images-container__img{
    max-width: 100%;
    min-width: 100%;
}

.carousel__items-container{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5%;
    width: 100%;
}

.carousel__items-container__item{
    height: 7px;
    width: 15%;
    background-color: rgba(201, 201, 201, 0.5);
    margin: 0 5px
}

.carousel__items-container__item.active{
    background-color: rgba(255, 255, 255, 0.8);
}