@media only screen and (max-width: 700px) {
    .contest__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: left 0.5s;
        background-color: white;
        color: gray;
        z-index: 20001;
        top: 0;
    }

    .contest__overlay.visible {
        left: 0%;
    }
}