[theme=color] .tab1 {
    background-color: var(--tab1_color);
}

[theme=light] .tab1 {
    color: var(--tab1_color);
    background-color: white;
}

/* Mobile css */

@media only screen and (max-width: 700px) {
    .tab1--content {
        height: 65%;
    }
    .tab1__calendar--container {
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .tab1__calendar--button {
        
        position: absolute;
        margin-left: 280px;
        margin-bottom: 20px;
        bottom: 0;
        background-color: tomato;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        font-size: 25px;
        color: white;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.35s;
        cursor: pointer;
    }
    
    .tab1__calendar--button:focus {
        outline: none;
    }

    .tab1__calendar--icon {
        margin: auto;

    }

    .tab1__calendar__events--container{
        float: right;
        margin: auto 10px;
        height: 100%;
        width: 50%;
    }
    
    .tab1__calendar__concurso--container{
        float: left;
        height: 85%;
        width: 50%;
        border: solid gray;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 0px;
        border-top: 0px;
        position: relative;
        
    }
    .tab1__calendar__events--item{
        margin-top: 50px;
        height: 40%;
        width: 100%;
        background-color: gray;
    }
    .tab1__calendar__concurso--item{
        margin-top: 50px;
        height: 50%;
        margin-left: 9px;
        width: 90%;
        text-align: center;
        background-color: gray;
    }
    .tab1__calendar__concurso--button{
        right: 0px;
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: 5px;
        background: none;
        border-bottom: none;
    }
}