<div>
<div class="events__containerName">
    <button class="tab1__event--button" style="background-color: {color};"></button>
    <a class="tab1__event--Nombre" >{name}</a>
    </div>

    <div class="tab1__coming-eventMobile">
        <div class="tab1__coming-event--infoMobile">
            <div class="tab1__coming-event--dateMobile">
                <em>{dayName}</em>
                <strong>{monthName}</strong>
                <span style="color: {color}">{dateI}</span>
            </div>
        </div>
    </div>
    
    <!--
<a class= "tab1__event--fecha1"></a>
<a class= "tab1__calendar__event--item1--fecha2"></a>
<a class="tab1__event--details" ></a>-->
<div class= "tab1__event__containerStars">
    <button class="tab__event--more" style="background-color: {color};">Ver más</button>
</div></div>
    

 