[theme=color] .tab1 {
    background-color: var(--tab1_color);
}

[theme=light] .tab1 {
    color: var(--tab1_color);
    background-color: white;
}

/* Desktop css */

@media only screen and (min-width: 700px) {
    .tab1 {
        height: calc(100vh - 48px);
        overflow-y: hidden;
    }
    .tab1__content {
        height: calc(100vh - 48px);
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .overflow {
        height: calc(450px);
    }
    .tab1__mosaic--container {
        top: 0px;
        position: sticky;
        height: calc(100vh - 48px);
        width: 100%;
        display: flex;
    }
    .tab1__content--left {
        width: 38%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .tab1__content--right {
        width: 62%;
        height: calc(100vh - 48px);
        position: relative;
        overflow: hidden;
    }
    .tab1--button {
        z-index: 100;
        position: absolute;
        top: calc(calc(50vh - 24px) - calc(15vh / 2));
        left: calc(38% - calc(15vh / 2));
        background-color: tomato;
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        font-size: 6vh;
        color: white;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.35s;
        cursor: pointer;
    }
    [theme=color] .tab1--button {
        background-color: white;
        color: var(--tab1_color);
    }
    [theme=light] .tab1--button {
        color: white;
        background-color: var(--tab1_color);
    }
    .tab1--button:focus {
        outline: none;
    }
    .tab1--icon {
        margin: auto;
    }
    .tab1__carousel--right {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .tab1__calendar--right {
        position: absolute;
        top: 5%;
        bottom: 5%;
        height: calc(90vh - 48px);
        left: 2.5%;
        right: 2.5%;
        width: 95%;
        margin: -10px -5px;
        color: black
    }
    .tab1__contests--right {
        height: 100%;
        width: 100%;
        background-color: rgb(220, 220, 220);
    }
    .mosaic__item--right {
        transform: rotate(180deg);
        transform-origin: -50% 50%;
        transition: transform 0.3s;
        overflow: hidden;
    }
    .mosaic__item--right.active {
        transform: rotate(0deg);
        animation: mosaicAnimationRight 0.5s;
        z-index: 10;
    }
    @keyframes mosaicAnimationRight {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .tab1__carousel--left {
        position: absolute;
        height: 100%;
        width: 100%;
        color: black;
    }
    .tab1__calendar--left {
        position: absolute;
        height: 100%;
        width: 100%;
        color: black;
    }
    .tab1__contests--left {
        height: 100%;
        width: 100%;
        color: black;
    }
    .mosaic__item--left {
        transform: rotate(-180deg);
        transform-origin: -50% 50%;
        transition: transform 0.5s;
        overflow: hidden;
        z-index: 5;
        background-color: white;
    }
    .mosaic__item--left.active {
        transform: rotate(0deg);
        animation: mosaicAnimationLeft 0.5s;
        z-index: 10;
    }
    @keyframes mosaicAnimationLeft {
        from {
            transform: rotate(-180deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    .tab1__weather--container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(226, 226, 226);
        position: relative;
    }

    .tab1__card {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
    }
    .tab1__weather__temperature {
        width: 80%;
        height: 35%;
        margin: auto;
        background-color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .tab1__weather__title {
        width: calc(100% - 40px);
        height: calc(50% - 40px);
        margin: 0;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        padding: 20px;
    }
    .tab1__weather__title h2 {
        margin: auto 0;
        margin-bottom: 10px;
        font-size: calc(20px + 2vw);
        color: var(--tab1_color);
        text-align: center;
        width: 100%;
        font-weight: 200;
    }
    .tab1__weather__title--span {
        margin: auto;
        margin-top: 10px;
        font-size: calc (10px + 2vw);
        color: rgb(86, 86, 86)
    }
    .tab1>::-webkit-scrollbar-thumb {
        background: var(--tab1_color);
        border-radius: 5px;
    }
    .tab1__weather__temperature--span {
        margin: auto;
        font-size: calc(40px + 4vw);
        color: rgb(86, 86, 86)
    }
    .tab1__weather__temperature--button {
        background-color: white; 
        border-radius: 0 0 10px 10px; 
        border: solid 0.5px rgb(193, 193, 193); 
        height: 50px; 
        color: tomato; 
        font-size: 15px; 
        cursor: pointer; 
    }
    .tab1__weather__temperature--button:hover {
        background-color: #f3f3f3;
    }
    .tab1__coming-events--header {
        width: calc(100% - 1.5px);
        height: 50px;
        background-color: rgb(245, 245, 245);
        display: flex;
        border-right: 1.5px solid rgb(241, 241, 241);
    }
    .tab1__coming-events--header h4 {
        margin: auto;
        color: gray;
        font-weight: 100;
        font-size: 18px;
        opacity: 1;
        transition: opacity 0.4s, width 1s;
        width: 100%;
    }
    .tab1__coming-events--header h4.hide {
        opacity: 0;
        width: 0%;
    }
    .tab1__coming-events--header div {
        display: flex;
        margin: auto;
        margin-right: 5%;
        width: 40px;
        height: 40px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 50px;
        justify-content: space-between;
        transition: width 0.6s;
        background-color: white;
    }
    .tab1__coming-events--header div.active {
        width: 90%;
    }
    .tab1__coming-events--header div button {
        width: 40px;
        height: 40px;
        margin: auto 0;
        border: none;
        border-radius: 50px;
        background-color: transparent;
        cursor: pointer;
    }
    .tab1__coming-events--header div *:focus {
        border: none;
        outline: none;
    }
    .tab1__coming-events--header div input {
        width: calc(80% - 40px);
        height: 30px;
        margin: auto;
        border: none;
        background-color: white;
        padding: 0;
        transition: width 0.6s;
        font-size: 15px;
    }
    .tab1__coming-events--container {
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        overflow: auto;
        position: absolute;
    }
    .tab1__coming-events--item {
        width: 82%;
        height: 30vh;
        margin: 20px auto;
        background-color: white;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.3s;
    }
    .tab1__coming-events--item:first-child {
        margin-bottom: 3%;
    }
    .tab1__coming-events--item:last-child {
        margin-top: 3%;
    }
    .tab1__coming-events--item:hover {
        width: 83%;
        height: 30.5vh;
    }
    .tab1__contests--container {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
        justify-content: center;
        width: 100%;
    }
    .tab1__contests--item {
        border-radius: 10px;
        min-width: 250px;
        width: 30%;
        min-height: 110px;
        height: 20vh;
        margin: 10px;
        background-color: white;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.3s;
    }
    .tab1__adds--container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow: auto;
        height: calc(100% - 40px);
        align-items: center;
    }
    .tab1__adds--item {
        width: 85%;
        min-height: 150px;
        margin: 10px;
        background-color: white;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        transition: 0.35s;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: gray
    }
}

/* Mobile css */

@media only screen and (max-width: 700px) {
    .tab1>div {
        height: 100%;
        overflow: hidden;
        background-color: rgb(248, 248, 248);
    }
    .tab1__carousel--container {
        height: 37%;
    }
    .tab1--content {
        height: 63%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
    }
    .tab1__calendar--button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: white;
        width: 100px;
        height: 30px;
        border-radius: 20px;
        font-size: 16px;
        color: tomato;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
        transition: 0.35s;
        cursor: pointer;
    }
    .tab1__search--button {
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 13px;
        color: gray;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        transition: 0.35s;
        cursor: pointer;
    }
    .tab1__search--icon {
        margin: auto;
    }
    .tab1__calendar--button:focus {
        outline: none;
    }
    .tab1__calendar--icon {
        margin: auto;
    }


    .tab1__weather--container{
        position: absolute;
        top: calc(37% - 90px);
        background : rgba(255, 255, 255, 0.95);
        width: 80px;
        color: tomato;
        height: 80px;
        border-radius: 10px;
        justify-content: center;
        font-size: 35px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .tab1__weather--container div{
        display: flex;
        justify-content: center;
    }
    .tab1__weather--container i{
        font-size: 22px;
        margin: auto 0
    }
    .tab1__weather--container a{
        margin: auto 0;
        font-size: 33px;
    }

    .tab1__weather--container button{
        margin: 0 auto;
        background-color: white;
        width: 60px;
        height: 20px;
        border-radius: 5px;
        font-size: 12px;
        color: gray;
        display: flex;
        border: none;
        padding: 0;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
        transition: 0.35s;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .tab1__events--container {
        margin: 0;
        height: calc(50% - 40px);
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: visible;
        padding: 6px;
    }

    .tab1__events--container::-webkit-scrollbar {
        width: 5px;
        height: 4px;
    }
    
    /* Track */
    
    .tab1__events--container::-webkit-scrollbar-track {
        background: #f1f1f11a;
    }
    
    /* Handle */
    
    .tab1__events--container::-webkit-scrollbar-thumb {
        background: rgba(80, 80, 80, 0.3);
        border-radius: 5px;
    }
    
    /* Handle on hover */
    
    .tab1__events--container::-webkit-scrollbar-thumb:hover {
        background: rgba(75, 75, 75, 0.3);
    }

    .tab1__event--button {
        margin-left: 5px;
        border: none;
        float: left;
        height: 10px;
        width: 0px;
        border-radius: 50%;
    }
    .events__containerName {
        position: absolute;
        height: calc(100% - 98%);
        color: black;
        border-radius: 2px;
        float: left;
        width: 33.33%;
        /* three containers (use 25% for four, and 50% for two, etc) */
        padding: 5px;
    }
    .tab1__event--Nombre {
        margin: auto 10px;
    }
    .tab1__events--item {
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
        min-width: 40vw;
        padding: 3px;
        position: relative;
        height: calc(100% - 10px);
        color: black;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: rgba(255, 255, 255);
        transition: 0.2s;
        margin: 0 2vw;
    }
    .tab1 input[type="radio"] {
        display: none;
        color: grey;
    }
    .tab1 input[type="radio"]~label {
        margin-left: calc(50% - 95%);
        color: grey;
    }
    .tab1__event__containerStars {
        overflow: hidden;
        position: absolute;
        float: right;
        bottom: 3px;
        display: flex;
        height: calc(100% - 85%);
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .clasificacion {
        width: 60%;
        margin-left: calc(100% - 88%);
    }
    /* .tab1__calendar__events--item1:hover{
        margin-top: 60px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        height: 80%;
    }
    .tab1__calendar__events--item1:hover~.tab1__calendar__events--item2 {
        visibility: hidden;
    }
    .tab1__calendar__events--item2:hover {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        height: 80%;
    }
    .tab1__calendar__events--item1.hidden {
        height: 0;
        visibility: hidden;
    } */

    .tab1__concurso--container {
        margin: 0 20px;
        height: calc(50% - 70px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .tab1__concurso--item {
        padding: 3px;
        position: relative;
        width: 45%;
        margin: auto;
        height: calc(100% - 6px);
        color: black;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        background-color: rgba(255, 255, 255);
        transition: 0.2s;
    }


    .tab1__event--Nombre {
        font-size: calc(15px + 0.8vw);
        text-align: center;
    }
    /* .tab1__concurso--item2 {
       
    } */
    /* .tab1__calendar__concurso--item1:hover{
        margin-top: 60px;
        height: 80%;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
    .tab1__calendar__concurso--item1.hidden{
        height: 0;
        visibility: hidden;
    }
    .tab1__calendar__concurso--item2:hover {
        margin-top: 60px;
        height: 80%;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
    .tab1__calendar__events--item2:hover {
        margin-top: 60px;
        height: 80%;
    }
    .tab1__calendar__concurso--item1:hover~.tab1__calendar__concurso--item2 {
        visibility: hidden;
    } */
    .tab1__concurso--button {
        right: 0px;
        width: 100%;
        height: 35px;
        margin-top: 10px;
        background: none;
        border-bottom: none;
    }
    .tab1__events--button {
        background: none;
        font-size: 27px;
    }
    .div {
        height: 100%;
    }
    .tab1__coming-event--button {
        color: white;
        font-size: calc(10px + 0.3vw);
        border-radius: 5px;
        height: 25px;
        width: 90%;
        border: none;
    }
    .events__comingEvents {
        position: relative;
        display: flex;
        height: 100%;
        box-sizing: border-box;
        flex-direction: row;
    }
    .tab1__coming-eventMobile {
        position: relative;
        display: flex;
        margin-left: calc(100% - 60%);
        margin-top: 10%;
        border-radius: 10px;
    }
    .tab1__coming-event--infoMobile {
        width: 50%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .tab1__coming-event--dateMobile {
        margin: auto;
        font-size: calc(3px + 0.5vh);
        /* change icon size */
        display: block;
        position: relative;
        width: 7em;
        height: 7em;
        background-color: #fff;
        border-radius: 0.6em;
        box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
        overflow: hidden;
    }
    .tab1__coming-event--dateMobile * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        font-style: normal;
        text-align: center;
    }
    .tab1__coming-event--dateMobile strong {
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #fff;
        background-color: gray;
        border-bottom: 1px dashed rgb(160, 160, 160);
        box-shadow: 0 2px 0 gray;
    }
    .tab1__coming-event--dateMobile em {
        position: absolute;
        bottom: 0.3em;
        color: gray;
    }
    .tab1__coming-event--dateMobile span {
        font-size: 2.8em;
        letter-spacing: -0.05em;
        padding-top: 0.8em;
        color: #2f2f2f;
    }

    .tab1 .badge{
        top: -4px;
        right: -4px;
    }
}