:root{
    --tab1_color: tomato;
    --tab2_color: mediumseagreen;
    --tab3_color: cornflowerblue;
    --tab4_color: orange;
    --tab5_color: mediumpurple;
}

.tabs{
    display: grid;
    overflow: hidden;
    position: relative;
    width: calc(100% - 0%);
    height: calc(100% - 48px);
    margin-left: 0%;
}

.tabs__tab--content {
    transition: 0.5s;
    display: block;
    text-align: center;
    
    width: 100%;
    left: 100%;
}

@media only screen and (min-width: 700px) {
    .tabs__tab--content{
        display: none;
    }

    .tabs__tab--content.active{
        z-index: 10;
        display: block;
    }

}



[theme=light] .tabs__tab--content {
    color: white;
}

[theme=color] .tabs__tab--content {
    color: white;
}



@media only screen and (max-width: 700px) {
    .tabs{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        overflow: hidden;
    }

    .tabs__tab--content{
      position: absolute;
      height: calc(100% - 48px);
      overflow: hidden;
    }

    .tabs__tab--content.active{
        left: 0%;
    }
}
