:root{
    --is_mobile_at: 700px
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}




@media only screen and (max-width: 700px){
    html, body {
        overflow: hidden;
    }
}

body {
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin-right: 0;
    width: 100%;
    background-color: #dbdbdb;
    position: relative;
}

render {
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: left 0.5s;
    background-color: white;
    z-index: 2000;
    overflow: hidden;
}

.overlay.visible {
    left: 0;
}

