:root {
    --is_mobile_at: 700px
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

@media only screen and (max-width: 700px) {
    html, body {
        overflow: hidden;
    }
}

body {
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin-right: 0;
    width: 100%;
    background-color: #dbdbdb;
    position: relative;
}

render {
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: left 0.5s;
    background-color: white;
    z-index: 20000;
    overflow: hidden;
}

.overlay.visible {
    left: 0;
}

.main-loading {
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    z-index: 10000;
    display: none;
}

.main-loading.visible {
    display: block;
}

.img--overlay{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 20001;
    background-color: rgba(50, 50, 50, 0.646);
}

.img--overlay--img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin: auto;
}

img:not(.img--overlay--img){
    cursor: pointer;
}


.img--overlay.visible{
    display: flex;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.6s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(100deg);
    }
    40% {
        transform: rotate(200deg);
    }
    60% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f13f;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.6);
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 75, 75, 0.6);
}