<article class="search_container" >
    <div class="search_content">
        <div class="search_content_top">
            <button class="search_container_button"><i class="material-icons">chevron_left</i></button> 
            <div class="div_search">
                <i class="material-icons">search</i>
                <input class="div_search_input" type="search" id="search" placeholder="Buscar..." />
            </div>
        </div>
    <div class="search__container--item"></div>
    </div>
</article>